---
import Layout from "../layouts/Layout.astro";
---

<Layout title="UniDex Exchange | Analytics Dashboard">
  <main>
    <h1
      class="w-full text-center text-6xl md:text-7xl py-10 md:py-16 font-header tracking-widest"
    >
      UniDex Stats
    </h1>
  </main>
</Layout>
