---
import Layout from "../layouts/Layout.astro";
import { ChartsContainer } from "../components/ChartsContainer";
---

<Layout title="UniDex Exchange | Analytics Dashboard">
  <main>
    <h1
      class="w-full text-center text-6xl md:text-7xl py-10 font-header tracking-widest"
    >
      UniDex Stats
    </h1>

    <ChartsContainer client:load />
  </main>
</Layout>
