---
import Layout from "../layouts/Layout.astro";
import { ChartsContainer } from "../components/ChartsContainer";
---

<Layout title="UniDex Exchange | Analytics Dashboard">
  <main>


    <ChartsContainer client:load />
  </main>
</Layout>
